# Ready the Data to be used for RNN
    Create a funciton that generates windows on variable lenghts such that the data is formated:
    
    X: (Price at t-1), (Price at t-2), (Price at t-n) 
    
    Y: (Price at t)

In [1]:
import pickle
import pandas as pd
import numpy as np

In [2]:
with open('spy_data_clean.pickle', 'rb') as f:
    tickData = pickle.load(f)

In [7]:
tickData.head()

    price            DateTime
0  1496.4 2000-01-03 08:30:34
1  1496.0 2000-01-03 08:30:36
2  1495.5 2000-01-03 08:30:37
3  1495.0 2000-01-03 08:30:46
4  1495.5 2000-01-03 08:30:53

In [6]:
tickData["price"].iloc[0:4]

array([1496. , 1495.5, 1495. , 1495.5])

numpy.float64

In [17]:
def window_generator(index, window_size=5):
    X = np.array(tickData["price"].iloc[index-window_size-1:index-1])
    
    y = tickData['price'].iloc[index]
    
    return X,y

In [23]:
Xlist=list()
ylist=list()
window_size=5

for i in range(window_size+1, 1000):
    X,y = window_generator(i,window_size)
    Xlist.append(X)
    ylist.append(y)
    
rnnData = pd.DataFrame({"X":Xlist, "y":ylist})

In [24]:
rnnData

                                            X       y
0    [1496.4, 1496.0, 1495.5, 1495.0, 1495.5]  1494.5
1    [1496.0, 1495.5, 1495.0, 1495.5, 1495.0]  1495.0
2    [1495.5, 1495.0, 1495.5, 1495.0, 1494.5]  1494.5
3    [1495.0, 1495.5, 1495.0, 1494.5, 1495.0]  1494.7
4    [1495.5, 1495.0, 1494.5, 1495.0, 1494.5]  1495.0
..                                        ...     ...
989  [1459.5, 1459.1, 1459.0, 1459.5, 1459.0]  1458.6
990  [1459.1, 1459.0, 1459.5, 1459.0, 1458.7]  1458.5
991  [1459.0, 1459.5, 1459.0, 1458.7, 1458.6]  1458.0
992  [1459.5, 1459.0, 1458.7, 1458.6, 1458.5]  1457.5
993  [1459.0, 1458.7, 1458.6, 1458.5, 1458.0]  1457.0

[994 rows x 2 columns]