In [1]:
from AlgoTools import AlgoTools

In [2]:
import pandas as pd
import time
import datetime
import pickle

In [3]:
with open('spydf.pickle', 'rb') as f:
    df = pickle.load(f)

In [62]:
groupedByDays=[]

In [63]:
indexLastDay=0

In [77]:
for i in range(1,len(df)):
    if algo.checkNextDay(i):
        groupedByDays.append(df.iloc[indexLastDay:i,:])
        indexLastDay = i

In [109]:
len(tickData)

NameError: name 'tickData' is not defined

In [108]:
for i in range(len(groupedByDays)):

[            date          time   price  volume               Time2
 0     01/03/2000  08:30:34.000  1496.4       0 2000-01-03 08:30:34
 1     01/03/2000  08:30:36.000  1496.0       0 2000-01-03 08:30:36
 2     01/03/2000  08:30:37.000  1495.5       0 2000-01-03 08:30:37
 3     01/03/2000  08:30:46.000  1495.0       0 2000-01-03 08:30:46
 4     01/03/2000  08:30:53.000  1495.5       0 2000-01-03 08:30:53
 ...          ...           ...     ...     ...                 ...
 4329  01/03/2000  15:14:20.000  1467.6       0 2000-01-03 15:14:20
 4330  01/03/2000  15:14:23.000  1467.7       0 2000-01-03 15:14:23
 4331  01/03/2000  15:14:23.000  1467.8       0 2000-01-03 15:14:23
 4332  01/03/2000  15:14:25.000  1467.5       0 2000-01-03 15:14:25
 4333  01/03/2000  15:14:30.000  1467.0       0 2000-01-03 15:14:30

 [4334 rows x 5 columns],
             date          time   price  volume               Time2
 4334  01/04/2000  08:30:08.000  1451.0       0 2000-01-04 08:30:08
 4335  01/04/2000  08:30:14.000  1450.5       0 2000-01-04 08:30:14
 4336  01/04/2000  08:30:14.000  1450.0       0 2000-01-04 08:30:14
 4337  01/04/2000  08:30:20.000  1450.5       0 2000-01-04 08:30:20
 4338  01/04/2000  08:30:25.000  1451.0       0 2000-01-04 08:30:25
 ...          ...           ...     ...     ...                 ...
 8531  01/04/2000  15:14:11.000  1412.3       0 2000-01-04 15:14:11
 8532  01/04/2000  15:14:11.000  1412.5       0 2000-01-04 15:14:11
 8533  01/04/2000  15:14:23.000  1412.0       0 2000-01-04 15:14:23
 8534  01/04/2000  15:14:24.000  1412.5       0 2000-01-04 15:14:24
 8535  01/04/2000  15:14:34.000  1412.5       0 2000-01-04 15:14:34

 [4202 rows x 5 columns],
              date          time   price  volume               Time2
 8536   01/05/2000  08:30:43.000  1410.0       0 2000-01-05 08:30:43
 8537   01/05/2000  08:30:57.000  1409.5       0 2000-01-05 08:30:57
 8538   01/05/2000  08:31:07.000  1410.0       0 2000-01-05 08:31:07
 8539   01/05/2000  08:31:09.000  1410.5       0 2000-01-05 08:31:09
 8540   01/05/2000  08:31:12.000  1411.0       0 2000-01-05 08:31:12
 ...           ...           ...     ...     ...                 ...
 12646  01/05/2000  15:14:17.000  1413.5       0 2000-01-05 15:14:17
 12647  01/05/2000  15:14:22.000  1413.0       0 2000-01-05 15:14:22
 12648  01/05/2000  15:14:28.000  1413.5       0 2000-01-05 15:14:28
 12649  01/05/2000  15:14:29.000  1413.7       0 2000-01-05 15:14:29
 12650  01/05/2000  15:14:34.000  1413.5       0 2000-01-05 15:14:34

 [4115 rows x 5 columns],
              date          time   price  volume               Time2
 12651  01/06/2000  08:30:28.000  1406.5       0 2000-01-06 08:30:28
 12652  01/06/2000  08:30:49.000  1407.0       0 2000-01-06 08:30:49
 12653  01/06/2000  08:30:54.000  1407.5       0 2000-01-06 08:30:54
 12654  01/06/2000  08:31:10.000  1408.0       0 2000-01-06 08:31:10
 12655  01/06/2000  08:31:19.000  1407.5       0 2000-01-06 08:31:19
 ...           ...           ...     ...     ...                 ...
 16791  01/06/2000  15:14:04.000  1404.7       0 2000-01-06 15:14:04
 16792  01/06/2000  15:14:04.000  1404.5       0 2000-01-06 15:14:04
 16793  01/06/2000  15:14:15.000  1404.0       0 2000-01-06 15:14:15
 16794  01/06/2000  15:14:23.000  1403.5       0 2000-01-06 15:14:23
 16795  01/06/2000  15:14:35.000  1403.0       0 2000-01-06 15:14:35

 [4145 rows x 5 columns],
              date          time   price  volume               Time2
 16796  01/07/2000  08:30:22.000  1414.0       0 2000-01-07 08:30:22
 16797  01/07/2000  08:30:35.000  1413.5       0 2000-01-07 08:30:35
 16798  01/07/2000  08:30:41.000  1414.0       0 2000-01-07 08:30:41
 16799  01/07/2000  08:30:50.000  1413.5       0 2000-01-07 08:30:50
 16800  01/07/2000  08:30:50.000  1413.0       0 2000-01-07 08:30:50
 ...           ...           ...     ...     ...                 ...
 20634  01/07/2000  15:13:50.000  1460.3       0 2000-01-07 15:13:50
 20635  01/07/2000  15:14:02.000  1460.0       0 2000-01-07 15:14:02
 20636  01/07/2000  15:14:17.000  1459.5       0 2000-01-07 15:14:17
 20637  01/07/2000  15:14:19.000  1460.0       0 2000-01-07 15:14:19
 20638  01/07/2000  15:14:28.000  1460.5       0 2000-01-07 15:14:28

 [3843 rows x 5 columns],
              date          time   price  volume               Time2
 20639  01/10/2000  08:30:16.000  1473.0       0 2000-01-10 08:30:16
 20640  01/10/2000  08:31:05.000  1473.5       0 2000-01-10 08:31:05
 20641  01/10/2000  08:31:05.000  1474.0       0 2000-01-10 08:31:05
 20642  01/10/2000  08:31:20.000  1473.5       0 2000-01-10 08:31:20
 20643  01/10/2000  08:31:20.000  1473.0       0 2000-01-10 08:31:20
 ...           ...           ...     ...     ...                 ...
 24880  01/10/2000  15:13:52.000  1475.0       0 2000-01-10 15:13:52
 24881  01/10/2000  15:14:10.000  1474.8       0 2000-01-10 15:14:10
 24882  01/10/2000  15:14:10.000  1474.5       0 2000-01-10 15:14:10
 24883  01/10/2000  15:14:12.000  1475.0       0 2000-01-10 15:14:12
 24884  01/10/2000  15:14:27.000  1475.5       0 2000-01-10 15:14:27

 [4246 rows x 5 columns],
              date          time   price  volume               Time2
 24885  01/11/2000  08:30:55.000  1468.0       0 2000-01-11 08:30:55
 24886  01/11/2000  08:30:59.000  1467.5       0 2000-01-11 08:30:59
 24887  01/11/2000  08:31:01.000  1467.0       0 2000-01-11 08:31:01
 24888  01/11/2000  08:31:09.000  1467.5       0 2000-01-11 08:31:09
 24889  01/11/2000  08:31:24.000  1467.9       0 2000-01-11 08:31:24
 ...           ...           ...     ...     ...                 ...
 29447  01/11/2000  15:13:58.000  1454.0       0 2000-01-11 15:13:58
 29448  01/11/2000  15:14:07.000  1454.5       0 2000-01-11 15:14:07
 29449  01/11/2000  15:14:14.000  1454.0       0 2000-01-11 15:14:14
 29450  01/11/2000  15:14:21.000  1453.8       0 2000-01-11 15:14:21
 29451  01/11/2000  15:14:29.000  1453.5       0 2000-01-11 15:14:29

 [4567 rows x 5 columns],
              date          time   price  volume               Time2
 29452  01/12/2000  08:30:27.000  1456.4       0 2000-01-12 08:30:27
 29453  01/12/2000  08:30:27.000  1456.0       0 2000-01-12 08:30:27
 29454  01/12/2000  08:30:33.000  1455.5       0 2000-01-12 08:30:33
 29455  01/12/2000  08:30:42.000  1456.0       0 2000-01-12 08:30:42
 29456  01/12/2000  08:30:47.000  1455.8       0 2000-01-12 08:30:47
 ...           ...           ...     ...     ...                 ...
 33597  01/12/2000  15:13:58.000  1442.5       0 2000-01-12 15:13:58
 33598  01/12/2000  15:14:04.000  1442.0       0 2000-01-12 15:14:04
 33599  01/12/2000  15:14:12.000  1441.5       0 2000-01-12 15:14:12
 33600  01/12/2000  15:14:25.000  1442.0       0 2000-01-12 15:14:25
 33601  01/12/2000  15:14:32.000  1442.5       0 2000-01-12 15:14:32

 [4150 rows x 5 columns],
              date          time   price  volume               Time2
 33602  01/13/2000  08:30:12.000  1451.0       0 2000-01-13 08:30:12
 33603  01/13/2000  08:30:19.000  1451.5       0 2000-01-13 08:30:19
 33604  01/13/2000  08:30:19.000  1452.0       0 2000-01-13 08:30:19
 33605  01/13/2000  08:30:21.000  1452.5       0 2000-01-13 08:30:21
 33606  01/13/2000  08:30:41.000  1453.0       0 2000-01-13 08:30:41
 ...           ...           ...     ...     ...                 ...
 37665  01/13/2000  15:14:11.000  1459.5       0 2000-01-13 15:14:11
 37666  01/13/2000  15:14:18.000  1459.4       0 2000-01-13 15:14:18
 37667  01/13/2000  15:14:18.000  1459.3       0 2000-01-13 15:14:18
 37668  01/13/2000  15:14:18.000  1459.0       0 2000-01-13 15:14:18
 37669  01/13/2000  15:14:36.000  1459.0       0 2000-01-13 15:14:36

 [4068 rows x 5 columns],
              date          time   price  volume               Time2
 37670  01/14/2000  08:30:28.000  1477.0       0 2000-01-14 08:30:28
 37671  01/14/2000  08:30:35.000  1477.5       0 2000-01-14 08:30:35
 37672  01/14/2000  08:30:37.000  1478.0       0 2000-01-14 08:30:37
 37673  01/14/2000  08:30:44.000  1477.5       0 2000-01-14 08:30:44
 37674  01/14/2000  08:30:47.000  1477.0       0 2000-01-14 08:30:47
 ...           ...           ...     ...     ...                 ...
 41524  01/14/2000  15:14:13.000  1478.0       0 2000-01-14 15:14:13
 41525  01/14/2000  15:14:22.000  1477.5       0 2000-01-14 15:14:22
 41526  01/14/2000  15:14:22.000  1478.0       0 2000-01-14 15:14:22
 41527  01/14/2000  15:14:24.000  1477.8       0 2000-01-14 15:14:24
 41528  01/14/2000  15:14:31.000  1477.5       0 2000-01-14 15:14:31

 [3859 rows x 5 columns],
              date          time   price  volume               Time2
 41529  01/18/2000  08:30:35.000  1464.0       0 2000-01-18 08:30:35
 41530  01/18/2000  08:30:41.000  1464.5       0 2000-01-18 08:30:41
 41531  01/18/2000  08:30:49.000  1465.0       0 2000-01-18 08:30:49
 41532  01/18/2000  08:30:57.000  1464.8       0 2000-01-18 08:30:57
 41533  01/18/2000  08:30:57.000  1464.5       0 2000-01-18 08:30:57
 ...           ...           ...     ...     ...                 ...
 45612  01/18/2000  15:14:21.000  1469.7       0 2000-01-18 15:14:21
 45613  01/18/2000  15:14:23.000  1469.8       0 2000-01-18 15:14:23
 45614  01/18/2000  15:14:27.000  1469.9       0 2000-01-18 15:14:27
 45615  01/18/2000  15:14:28.000  1470.0       0 2000-01-18 15:14:28
 45616  01/18/2000  15:14:53.000  1470.0       0 2000-01-18 15:14:53

 [4088 rows x 5 columns],
              date          time   price  volume               Time2
 45617  01/19/2000  08:30:15.000  1461.5       0 2000-01-19 08:30:15
 45618  01/19/2000  08:30:26.000  1461.0       0 2000-01-19 08:30:26
 45619  01/19/2000  08:30:29.000  1461.5       0 2000-01-19 08:30:29
 45620  01/19/2000  08:30:29.000  1462.0       0 2000-01-19 08:30:29
 45621  01/19/2000  08:30:37.000  1461.5       0 2000-01-19 08:30:37
 ...           ...           ...     ...     ...                 ...
 49664  01/19/2000  15:14:08.000  1471.7       0 2000-01-19 15:14:08
 49665  01/19/2000  15:14:08.000  1471.8       0 2000-01-19 15:14:08
 49666  01/19/2000  15:14:17.000  1472.0       0 2000-01-19 15:14:17
 49667  01/19/2000  15:14:29.000  1472.5       0 2000-01-19 15:14:29
 49668  01/19/2000  15:14:36.000  1473.0       0 2000-01-19 15:14:36

 [4052 rows x 5 columns],
              date          time   price  volume               Time2
 49669  01/20/2000  08:30:04.000  1477.5       0 2000-01-20 08:30:04
 49670  01/20/2000  08:30:10.000  1477.0       0 2000-01-20 08:30:10
 49671  01/20/2000  08:30:24.000  1477.5       0 2000-01-20 08:30:24
 49672  01/20/2000  08:30:24.000  1477.0       0 2000-01-20 08:30:24
 49673  01/20/2000  08:30:36.000  1477.5       0 2000-01-20 08:30:36
 ...           ...           ...     ...     ...                 ...
 54234  01/20/2000  15:14:07.000  1456.5       0 2000-01-20 15:14:07
 54235  01/20/2000  15:14:13.000  1456.7       0 2000-01-20 15:14:13
 54236  01/20/2000  15:14:14.000  1457.0       0 2000-01-20 15:14:14
 54237  01/20/2000  15:14:26.000  1457.5       0 2000-01-20 15:14:26
 54238  01/20/2000  15:14:33.000  1457.0       0 2000-01-20 15:14:33

 [4570 rows x 5 columns],
              date          time   price  volume               Time2
 54239  01/21/2000  08:30:25.000  1461.5       0 2000-01-21 08:30:25
 54240  01/21/2000  08:30:38.000  1462.0       0 2000-01-21 08:30:38
 54241  01/21/2000  08:30:43.000  1461.5       0 2000-01-21 08:30:43
 54242  01/21/2000  08:30:46.000  1461.0       0 2000-01-21 08:30:46
 54243  01/21/2000  08:30:58.000  1461.5       0 2000-01-21 08:30:58
 ...           ...           ...     ...     ...                 ...
 58321  01/21/2000  15:14:05.000  1452.7       0 2000-01-21 15:14:05
 58322  01/21/2000  15:14:08.000  1453.0       0 2000-01-21 15:14:08
 58323  01/21/2000  15:14:22.000  1453.3       0 2000-01-21 15:14:22
 58324  01/21/2000  15:14:23.000  1453.5       0 2000-01-21 15:14:23
 58325  01/21/2000  15:14:31.000  1453.7       0 2000-01-21 15:14:31

 [4087 rows x 5 columns],
              date          time   price  volume               Time2
 58326  01/24/2000  08:30:18.000  1466.5       0 2000-01-24 08:30:18
 58327  01/24/2000  08:30:25.000  1466.0       0 2000-01-24 08:30:25
 58328  01/24/2000  08:30:28.000  1465.5       0 2000-01-24 08:30:28
 58329  01/24/2000  08:30:31.000  1465.2       0 2000-01-24 08:30:31
 58330  01/24/2000  08:30:44.000  1465.5       0 2000-01-24 08:30:44
 ...           ...           ...     ...     ...                 ...
 62617  01/24/2000  15:14:00.000  1413.5       0 2000-01-24 15:14:00
 62618  01/24/2000  15:14:10.000  1413.0       0 2000-01-24 15:14:10
 62619  01/24/2000  15:14:16.000  1412.5       0 2000-01-24 15:14:16
 62620  01/24/2000  15:14:20.000  1412.0       0 2000-01-24 15:14:20
 62621  01/24/2000  15:14:31.000  1412.5       0 2000-01-24 15:14:31

 [4296 rows x 5 columns],
              date          time   price  volume               Time2
 62622  01/25/2000  08:30:24.000  1415.0       0 2000-01-25 08:30:24
 62623  01/25/2000  08:30:28.000  1415.5       0 2000-01-25 08:30:28
 62624  01/25/2000  08:30:36.000  1415.0       0 2000-01-25 08:30:36
 62625  01/25/2000  08:30:38.000  1414.9       0 2000-01-25 08:30:38
 62626  01/25/2000  08:30:45.000  1414.5       0 2000-01-25 08:30:45
 ...           ...           ...     ...     ...                 ...
 67114  01/25/2000  15:14:09.000  1419.5       0 2000-01-25 15:14:09
 67115  01/25/2000  15:14:12.000  1419.0       0 2000-01-25 15:14:12
 67116  01/25/2000  15:14:19.000  1418.5       0 2000-01-25 15:14:19
 67117  01/25/2000  15:14:19.000  1418.0       0 2000-01-25 15:14:19
 67118  01/25/2000  15:14:37.000  1418.5       0 2000-01-25 15:14:37

 [4497 rows x 5 columns],
              date          time   price  volume               Time2
 67119  01/26/2000  08:30:36.000  1416.5       0 2000-01-26 08:30:36
 67120  01/26/2000  08:30:52.000  1417.0       0 2000-01-26 08:30:52
 67121  01/26/2000  08:30:58.000  1416.5       0 2000-01-26 08:30:58
 67122  01/26/2000  08:31:06.000  1416.3       0 2000-01-26 08:31:06
 67123  01/26/2000  08:31:14.000  1416.0       0 2000-01-26 08:31:14
 ...           ...           ...     ...     ...                 ...
 71092  01/26/2000  15:13:52.000  1415.3       0 2000-01-26 15:13:52
 71093  01/26/2000  15:13:56.000  1415.0       0 2000-01-26 15:13:56
 71094  01/26/2000  15:14:16.000  1414.8       0 2000-01-26 15:14:16
 71095  01/26/2000  15:14:16.000  1414.7       0 2000-01-26 15:14:16
 71096  01/26/2000  15:14:22.000  1414.5       0 2000-01-26 15:14:22

 [3978 rows x 5 columns],
              date          time   price  volume               Time2
 71097  01/27/2000  08:30:23.000  1425.5       0 2000-01-27 08:30:23
 71098  01/27/2000  08:30:25.000  1425.0       0 2000-01-27 08:30:25
 71099  01/27/2000  08:30:38.000  1424.5       0 2000-01-27 08:30:38
 71100  01/27/2000  08:30:38.000  1425.0       0 2000-01-27 08:30:38
 71101  01/27/2000  08:30:46.000  1424.5       0 2000-01-27 08:30:46
 ...           ...           ...     ...     ...                 ...
 75280  01/27/2000  15:14:11.000  1410.1       0 2000-01-27 15:14:11
 75281  01/27/2000  15:14:20.000  1410.5       0 2000-01-27 15:14:20
 75282  01/27/2000  15:14:20.000  1411.0       0 2000-01-27 15:14:20
 75283  01/27/2000  15:14:26.000  1410.5       0 2000-01-27 15:14:26
 75284  01/27/2000  15:14:29.000  1410.1       0 2000-01-27 15:14:29

 [4188 rows x 5 columns],
              date          time   price  volume               Time2
 75285  01/28/2000  08:30:33.000  1399.0       0 2000-01-28 08:30:33
 75286  01/28/2000  08:30:35.000  1398.5       0 2000-01-28 08:30:35
 75287  01/28/2000  08:30:36.000  1398.0       0 2000-01-28 08:30:36
 75288  01/28/2000  08:30:40.000  1398.5       0 2000-01-28 08:30:40
 75289  01/28/2000  08:30:41.000  1399.0       0 2000-01-28 08:30:41
 ...           ...           ...     ...     ...                 ...
 79077  01/28/2000  15:14:04.000  1367.0       0 2000-01-28 15:14:04
 79078  01/28/2000  15:14:04.000  1367.5       0 2000-01-28 15:14:04
 79079  01/28/2000  15:14:10.000  1367.0       0 2000-01-28 15:14:10
 79080  01/28/2000  15:14:18.000  1367.5       0 2000-01-28 15:14:18
 79081  01/28/2000  15:14:35.000  1367.9       0 2000-01-28 15:14:35

 [3797 rows x 5 columns],
              date          time   price  volume               Time2
 79082  01/31/2000  08:30:25.000  1367.0       0 2000-01-31 08:30:25
 79083  01/31/2000  08:30:31.000  1366.5       0 2000-01-31 08:30:31
 79084  01/31/2000  08:30:39.000  1367.0       0 2000-01-31 08:30:39
 79085  01/31/2000  08:30:48.000  1366.5       0 2000-01-31 08:30:48
 79086  01/31/2000  08:30:51.000  1367.0       0 2000-01-31 08:30:51
 ...           ...           ...     ...     ...                 ...
 82901  01/31/2000  15:14:02.000  1402.4       0 2000-01-31 15:14:02
 82902  01/31/2000  15:14:12.000  1402.2       0 2000-01-31 15:14:12
 82903  01/31/2000  15:14:12.000  1402.0       0 2000-01-31 15:14:12
 82904  01/31/2000  15:14:27.000  1401.5       0 2000-01-31 15:14:27
 82905  01/31/2000  15:14:32.000  1401.0       0 2000-01-31 15:14:32

 [3824 rows x 5 columns],
              date          time   price  volume               Time2
 82906  02/01/2000  08:30:27.000  1400.0       0 2000-02-01 08:30:27
 82907  02/01/2000  08:30:29.000  1399.0       0 2000-02-01 08:30:29
 82908  02/01/2000  08:30:39.000  1399.5       0 2000-02-01 08:30:39
 82909  02/01/2000  08:30:41.000  1400.0       0 2000-02-01 08:30:41
 82910  02/01/2000  08:31:02.000  1399.5       0 2000-02-01 08:31:02
 ...           ...           ...     ...     ...                 ...
 86808  02/01/2000  15:14:04.000  1416.1       0 2000-02-01 15:14:04
 86809  02/01/2000  15:14:04.000  1416.0       0 2000-02-01 15:14:04
 86810  02/01/2000  15:14:14.000  1416.5       0 2000-02-01 15:14:14
 86811  02/01/2000  15:14:14.000  1417.0       0 2000-02-01 15:14:14
 86812  02/01/2000  15:14:37.000  1416.5       0 2000-02-01 15:14:37

 [3907 rows x 5 columns],
              date          time   price  volume               Time2
 86813  02/02/2000  08:30:24.000  1415.1       0 2000-02-02 08:30:24
 86814  02/02/2000  08:30:30.000  1415.1       0 2000-02-02 08:30:30
 86815  02/02/2000  08:30:30.000  1415.5       0 2000-02-02 08:30:30
 86816  02/02/2000  08:30:49.000  1416.0       0 2000-02-02 08:30:49
 86817  02/02/2000  08:31:02.000  1416.5       0 2000-02-02 08:31:02
 ...           ...           ...     ...     ...                 ...
 90622  02/02/2000  15:14:02.000  1415.5       0 2000-02-02 15:14:02
 90623  02/02/2000  15:14:11.000  1415.0       0 2000-02-02 15:14:11
 90624  02/02/2000  15:14:22.000  1414.5       0 2000-02-02 15:14:22
 90625  02/02/2000  15:14:23.000  1415.0       0 2000-02-02 15:14:23
 90626  02/02/2000  15:14:25.000  1415.5       0 2000-02-02 15:14:25

 [3814 rows x 5 columns],
              date          time   price  volume               Time2
 90627  02/03/2000  08:30:38.000  1423.5       0 2000-02-03 08:30:38
 90628  02/03/2000  08:30:51.000  1424.0       0 2000-02-03 08:30:51
 90629  02/03/2000  08:30:53.000  1423.5       0 2000-02-03 08:30:53
 90630  02/03/2000  08:30:55.000  1424.0       0 2000-02-03 08:30:55
 90631  02/03/2000  08:30:58.000  1423.8       0 2000-02-03 08:30:58
 ...           ...           ...     ...     ...                 ...
 94696  02/03/2000  15:13:59.000  1436.0       0 2000-02-03 15:13:59
 94697  02/03/2000  15:14:07.000  1436.2       0 2000-02-03 15:14:07
 94698  02/03/2000  15:14:12.000  1436.0       0 2000-02-03 15:14:12
 94699  02/03/2000  15:14:17.000  1436.5       0 2000-02-03 15:14:17
 94700  02/03/2000  15:14:33.000  1436.9       0 2000-02-03 15:14:33

 [4074 rows x 5 columns],
              date          time   price  volume               Time2
 94701  02/04/2000  08:30:26.000  1438.3       0 2000-02-04 08:30:26
 94702  02/04/2000  08:30:26.000  1438.5       0 2000-02-04 08:30:26
 94703  02/04/2000  08:30:32.000  1438.0       0 2000-02-04 08:30:32
 94704  02/04/2000  08:30:37.000  1438.5       0 2000-02-04 08:30:37

In [139]:
for i in range(len(groupedByDays)):
    if len(groupedByDays[i]) < 3000:
        print("Empty DataFrame at",i)
        groupedByDays.pop(i)

In [140]:
with open('SP-groupedByDays.pkl', 'wb') as f:
    pickle.dump(groupedByDays, f)

In [130]:
with open('SP-groupedByDays.pkl', 'rb') as f:
    mynewlist = pickle.load(f)